/* If styling is required, add it here. */
body {
	background-color: #111;
	color: #70E173;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#title {
  width:100%;
  display: flex;
  justify-content: center;
  font-family: monospace;
  white-space: pre;
  /*
  color: #93613A; // Earth
  color: #3A6C93; // Complimentary Blue
  color: #3A9361; // muted green
  */
  color:#35B23A;

}

#content {
  /*border: 0.05em solid black;*/
  width: 560px;
  height: 560px;
}

#outer {
    display: flex;
    justify-content: center;
    align-items: center;
     /*height: 100vh; This makes the outer div take the full viewport height */
}

table #gametable {
    width: 960px;
    height: 640px;
    border-collapse: collapse;
}

table #contenttable {
    width: 560px;
    height: 640px;
    border-collapse: collapse;
}

table #consoletable {
    width: 400px;
    height: 640px;
    max-height: 640px;
    overflow: hidden;
    border-collapse: collapse;
}

table #infotable {
    width: 560px;
    height: 80px;
    background-color: #282a36;
    overflow: hidden;
}

table #infotable td {
    padding-left: 2px;
    width: 25%;
}

table #infotable ul {
    font-size: 14px;
    padding: 2px;
    margin: 2px;
    list-style: none;
    overflow: hidden;
}

td {
    vertical-align: top; /* Aligns content to the top of the cell */
    padding: 0; /* Removes default padding inside table cells */
}

#content {
    width: 560;
    height: 560;
}

#editor {
    width: 400px;
    height: 365px; /* total height = 640. this = 640 - (240 + 35) because of console weirdness*/
    color: #70E173;
    background: #282a36;
    border-radius: 6px;
    /*box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);*/
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    min-height: 240px;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    tab-size: 4;
}

#console {
    width: 400px;
    height: 275px;
}

/*
LHS: editor+console+cli -- 400 + 240 + 35 = 275

*/