/* If styling is required, add it here. */
body {
	background-color: #111;
	color: #eee;
	font-family: sans-serif;
	margin: 0;
	padding: 0;
}

#title {
  width:100%;
  display: flex;
  justify-content: center;
}

#content {
  border: 0.05em solid black;
}

#outer {
    display: flex;
    justify-content: center;
    align-items: center;
     /*height: 100vh; This makes the outer div take the full viewport height */
}

table #gametable {
    width: 960px;
    height: 640px;
    border-collapse: collapse;
}

table #contenttable {
    width: 560px;
    height: 640px;
    border-collapse: collapse;
}

table #consoletable {
    width: 400px;
    height: 640px;
    border-collapse: collapse;
}

table #infotable {
    width: 400px;
    height: 80px;
    border-collapse: collapse;
}

td {
    vertical-align: top; /* Aligns content to the top of the cell */
    padding: 0; /* Removes default padding inside table cells */
}

#content {
    width: 560;
    height: 560;
}

div .scratch {
    width: 400px;
    height: 400px;
}

textarea .scratch {
    width: 100%;
    height: 100%; 
    box-sizing: border-box;
}

#console {
    width: 400px;
    height: 240px;
}

/*

#console textarea {
    width: 100%;
    height: 100%;
    border: none;
    resize: none; Prevents resizing he textarea
    box-sizing: border-box; Includes padding and border in the width and height
}
*/
