*{ box-sizing: border-box; }

.console-sandbox {
  width: 100%;
  background-color: #282a36;
  color: #70E173;
}
    /*
    width: 400px;
    height: 400px;
    color: #fff;
    background: #282a36;
    border-radius: 6px;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 1px 5px 0 rgba(0, 0, 0, 0.12), 0 3px 1px -2px rgba(0, 0, 0, 0.2);
    font-family: monospace;
    font-size: 14px;
    font-weight: 400;
    min-height: 240px;
    letter-spacing: normal;
    line-height: 20px;
    padding: 10px;
    tab-size: 4;
    */

.console-sandbox > ul {
  padding: 0;
  height: 240px;
  /*border: solid 1px #cfd6d9;*/
  border-bottom: none;
  margin: 0;
  overflow-y: auto;
  overflow-x: hidden;
  list-style: none;
  position: relative;
}

.console-sandbox > ul > li {
  /*border-bottom: solid 1px #cfd6d9;*/
  width: 100%;
}

.console-sandbox > ul > li > label:hover {
  cursor: pointer;
  background-color: rgba( 0, 0, 0, 0.02)
}
.console-sandbox > ul > li > label { display: block; }

.console-sandbox > ul > input[type=radio] { display: none; }
.console-sandbox > ul > input[type=radio]:checked + li { background-color: rgba( 0, 0, 0, 0.04); }

.console-sandbox > ul > li code {
  padding: 5px;
  padding-left: 20px;
  background-color: transparent;
  position: relative;
  width: 100%;
  display: block;
  white-space: pre-wrap;
}

.console-sandbox > ul > li code.log-input { padding-bottom: 0; }

.console-sandbox > ul > li code:before {
  width: 10px;
  display: inline-block;
  margin-right: 5px;
  color: #70E173;
  position: absolute;
  left: 5px;
  top: 5px;
}

.console-sandbox > ul > li  label > code:before { content: ">"; }
.console-sandbox > ul > li  code:last-of-type:before { content: "<"; }

.console-sandbox > .console-input {
  width: 100%;
  font-size: 14px;
  padding: 8px;
  font-family: monospace;
  padding-left: 25px;
  position: relative;
  border-top: solid 1px #70E173;
  /*border: solid 1px #cfd6d9;*/
  overflow: hidden;
  height: 35px;
  outline: none;
}

.console-sandbox > .console-input:after {
  content: '>';
  font-size: 14px;
  position: absolute;
  top: calc( 50% - 18px/2 );
  left: 8px;
  color: #FF7AC5;
}

.console-sandbox > ul > li.log-error { background-color: rgba(131, 0, 0, 0.1); }
.console-sandbox > ul > li.log-error > label > code:last-of-type { color: #70E173; }
.console-sandbox > ul > li.log-event { background-color:#783560; color: #70E173; }
/*.console-sandbox > ul > li.log-error > label > code:last-of-type { color: rgb(255, 202, 202); }*/
/*.console-sandbox > ul > li.log-event { background-color: rgb(109, 109, 95); }*/
